@media only screen and (max-width:970px){
    .sidebar{
                  display: none;
              }
  }
@media only screen and (min-width:600px){
    #content{
        margin-left: auto;
        margin-right: auto;
        max-width: 970px;
        display: grid;
        grid-template-columns:repeat(auto-fill,1fr);
        grid-auto-rows:minmax(100px,auto);
        grid-gap: 10px;
        grid-template-areas: 
        "nav nav nav nav"
        "aside aside aside bigad"
        "main main main main"
        "main main main main"
        "main main main main"
        "ad1 ad1 ad2 ad2"
        "ad3 ad3 ad4 ad4"
        "footer footer footer footer";              
          }
}
nav {
    background-color:#A52A2A;
    margin: 5px;
    padding: 10px 5px;
}
div {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px; 
} 

section {
    font-size: 2em;
    background-color: burlywood; 
}
aside {
    font-size: 1em;
    background-color: #FFA07A;

}
footer {
    display: flex;
    font-size: 1em; 
    line-height: 50px;
    background-color: #CD5C5C;
    text-align: center; 
}