nav{
    display: flex;    
    margin: 5px;
    padding: 10px 5px;
    justify-content: center;
}
div{
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
}
article{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;
    margin: 5px;
}
section{
    font-size: 2em;
    padding: 10px;
}
aside{
    font-size: 1em;
    margin: 5px 5px;
    padding: 10px;
    display: flex; 
    justify-content: center;
}
footer{
    font-size: 1em;
    line-height: 50px;
    margin: 5px 5px;
    padding: 10px;
    display: flex; 
    justify-content: center;
}